<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v22.0&appId=<%= fbConfig.appid %>"></script>

<div class="fb-comments" data-href="<%= url %>" data-num-posts="<%= fbConfig.comment_count %>" data-width="<%= fbConfig.comment_width %>" data-colorscheme="<%= fbConfig.comment_colorscheme %>"></div>
